# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.env/

# OS
.DS_Store
Thumbs.db

# Audio / temp files
*.wav
*.log
tmp/
cache/

# AI models (very important)
models/
piper/
piper/models/
vosk-model*

# Memory / user data
data/
long_term_memory.json
emotion_history.json
